APP_NAME=Python-K8s-App
APP_VERSION=1.0.0
ENVIRONMENT=development
PORT=5000
DOCKER_REGISTRY=docker.io
DOCKER_IMAGE_NAME=python-app
DOCKER_TAG=latest
KUBE_NAMESPACE=python-app
KUBE_CONTEXT=minikube
JENKINS_URL=http://localhost:8080
